In [1]:
import os
import pandas as pd

In [2]:
mobsuite = pd.read_csv("02072023_EcoliARETE_Plasmids_Isolates_All_no_novel_mobsuite_results_SUMS_all_stats.csv")

In [3]:
mobsuite

            Genome         Source Outbreak Phylogroup  Total_Plasmids
0    EC_0012_1H1_D       Diseased    F0012          G               2
1    EC_0012_2H1_D       Diseased    F0012          G               6
2    EC_0012_2L1_D       Diseased    F0012         B2               1
3    EC_0012_3S1_D       Diseased    F0012          G               6
4     EC_0012_C1_H          Cecal    F0012          A               3
..             ...            ...      ...        ...             ...
240    EC_E9DI_2_E  Environmental      NaN          A               1
241    EC_E9DN_1_E  Environmental      NaN          A               2
242    EC_E9DN_2_E  Environmental      NaN          A               4
243    EC_E9FP_1_E  Environmental      NaN          A               0
244     EC_E9L_1_E  Environmental      NaN          D               3

[245 rows x 5 columns]

In [98]:
mobsuite1 = mobsuite.groupby(['Source', 'Outbreak']).size()

In [99]:
mobsuite2 = mobsuite.groupby(['Source', 'Phylogroup']).size()

In [100]:
mobsuite3 = mobsuite.groupby(['Source', 'Outbreak']).mean()
mobsuite4 = mobsuite.groupby(['Source', 'Phylogroup']).mean()

/tmp/ipykernel_1148566/1952646061.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  mobsuite3 = mobsuite.groupby(['Source', 'Outbreak']).mean()
/tmp/ipykernel_1148566/1952646061.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  mobsuite4 = mobsuite.groupby(['Source', 'Phylogroup']).mean()

In [101]:
mobsuite5 = mobsuite.groupby(['Source', 'Outbreak']).sum()
mobsuite6 = mobsuite.groupby(['Source', 'Phylogroup']).sum()

/tmp/ipykernel_1148566/4058223332.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  mobsuite5 = mobsuite.groupby(['Source', 'Outbreak']).sum()
/tmp/ipykernel_1148566/4058223332.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  mobsuite6 = mobsuite.groupby(['Source', 'Phylogroup']).sum()

In [4]:
mobsuite7 = mobsuite.groupby(['Source']).size()
mobsuite8 = mobsuite.groupby(['Phylogroup']).size()
mobsuite9 = mobsuite.groupby(['Outbreak']).size()

In [103]:
mobsuite10 = mobsuite.groupby(['Source']).mean()
mobsuite11 = mobsuite.groupby(['Phylogroup']).mean()
mobsuite12 = mobsuite.groupby(['Outbreak']).mean()

/tmp/ipykernel_1148566/2690569980.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  mobsuite10 = mobsuite.groupby(['Source']).mean()
/tmp/ipykernel_1148566/2690569980.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  mobsuite11 = mobsuite.groupby(['Phylogroup']).mean()
/tmp/ipykernel_1148566/2690569980.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  mobsuite12 = mobsuite.groupby(['Outbreak']).mean()

In [104]:
mobsuite13 = mobsuite.groupby(['Source']).sum()
mobsuite14 = mobsuite.groupby(['Phylogroup']).sum()
mobsuite15 = mobsuite.groupby(['Outbreak']).sum()

/tmp/ipykernel_1148566/3020074935.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  mobsuite13 = mobsuite.groupby(['Source']).sum()
/tmp/ipykernel_1148566/3020074935.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  mobsuite14 = mobsuite.groupby(['Phylogroup']).sum()
/tmp/ipykernel_1148566/3020074935.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  mobsuite15 = mobsuite.groupby(['Outbreak']).sum()

In [105]:
mobsuite16=mobsuite[["Source", "Outbreak", "Phylogroup"]].describe()

In [106]:
mobsuite17=mobsuite[["Total_Plasmids"]].describe()

In [5]:
mobsuite7

Source
Cecal            61
Diseased         91
Environmental    93
dtype: int64

In [108]:
AMR= pd.read_csv("02092023_EcoliARETE_RGI_strictperfectfiltered_crosstab_ALLSUMS_stats.csv")

In [109]:

AMR3 = AMR.groupby(['Source', 'Outbreak']).mean()
AMR4 = AMR.groupby(['Source', 'Phylogroup']).mean()
AMR5 = AMR.groupby(['Source', 'Outbreak']).sum()
AMR6 = AMR.groupby(['Source', 'Phylogroup']).sum()

AMR10 = AMR.groupby(['Source']).mean()
AMR11 = AMR.groupby(['Phylogroup']).mean()
AMR12 = AMR.groupby(['Outbreak']).mean()
AMR13 = AMR.groupby(['Source']).sum()
AMR14 = AMR.groupby(['Phylogroup']).sum()
AMR15 = AMR.groupby(['Outbreak']).sum()

AMR17 = AMR[["Total_AMR"]].describe()

/tmp/ipykernel_1148566/618886078.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  AMR3 = AMR.groupby(['Source', 'Outbreak']).mean()
/tmp/ipykernel_1148566/618886078.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  AMR4 = AMR.groupby(['Source', 'Phylogroup']).mean()
/tmp/ipykernel_1148566/618886078.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  AMR5 = AMR.groupby(['Source', 'Outbreak']).sum()
/tmp/ipykernel_1148566/618886078.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  AMR6 = AMR.groupby(['Source', 'Phylogroup']).sum()
/tmp/ipykernel_1148566/618886078.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  AMR10 = AMR.groupby(['Source']).mean()
/tmp/ipykernel_1148566/618886078.py:7: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  AMR11 = AMR.groupby(['Phylogroup']).mean()
/tmp/ipykernel_1148566/618886078.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  AMR12 = AMR.groupby(['Outbreak']).mean()
/tmp/ipykernel_1148566/618886078.py:9: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  AMR13 = AMR.groupby(['Source']).sum()
/tmp/ipykernel_1148566/618886078.py:10: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  AMR14 = AMR.groupby(['Phylogroup']).sum()
/tmp/ipykernel_1148566/618886078.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  AMR15 = AMR.groupby(['Outbreak']).sum()

In [158]:
AMR17

        Total_AMR
count  245.000000
mean    57.191837
std      4.643868
min     51.000000
25%     54.000000
50%     56.000000
75%     59.000000
max     90.000000

In [111]:
VF = pd.read_csv("02072023_EcoliARETE_VFDB_filtered80_crosstab_ALLSUMS_stats.csv")

In [112]:

VF3 = VF.groupby(['Source', 'Outbreak']).mean()
VF4 = VF.groupby(['Source', 'Phylogroup']).mean()
VF5 = VF.groupby(['Source', 'Outbreak']).sum()
VF6 = VF.groupby(['Source', 'Phylogroup']).sum()

VF10 = VF.groupby(['Source']).mean()
VF11 = VF.groupby(['Phylogroup']).mean()
VF12 = VF.groupby(['Outbreak']).mean()
VF13 = VF.groupby(['Source']).sum()
VF14 = VF.groupby(['Phylogroup']).sum()
VF15 = VF.groupby(['Outbreak']).sum()

VF17 = VF[["Total_VF"]].describe()

/tmp/ipykernel_1148566/3757966159.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  VF3 = VF.groupby(['Source', 'Outbreak']).mean()
/tmp/ipykernel_1148566/3757966159.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  VF4 = VF.groupby(['Source', 'Phylogroup']).mean()
/tmp/ipykernel_1148566/3757966159.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  VF5 = VF.groupby(['Source', 'Outbreak']).sum()
/tmp/ipykernel_1148566/3757966159.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  VF6 = VF.groupby(['Source', 'Phylogroup']).sum()
/tmp/ipykernel_1148566/3757966159.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  VF10 = VF.groupby(['Source']).mean()
/tmp/ipykernel_1148566/3757966159.py:7: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  VF11 = VF.groupby(['Phylogroup']).mean()
/tmp/ipykernel_1148566/3757966159.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  VF12 = VF.groupby(['Outbreak']).mean()
/tmp/ipykernel_1148566/3757966159.py:9: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  VF13 = VF.groupby(['Source']).sum()
/tmp/ipykernel_1148566/3757966159.py:10: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  VF14 = VF.groupby(['Phylogroup']).sum()
/tmp/ipykernel_1148566/3757966159.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  VF15 = VF.groupby(['Outbreak']).sum()

In [159]:
VF17

         Total_VF
count  245.000000
mean   173.004082
std     35.710413
min     90.000000
25%    144.000000
50%    173.000000
75%    193.000000
max    285.000000

In [114]:
BM = pd.read_csv("02072023_EcoliARETE_BACMET_filtered80_crosstab_ALLSUMS_stats.csv")

In [115]:
BM3 = BM.groupby(['Source', 'Outbreak']).mean()
BM4 = BM.groupby(['Source', 'Phylogroup']).mean()
BM5 = BM.groupby(['Source', 'Outbreak']).sum()
BM6 = BM.groupby(['Source', 'Phylogroup']).sum()

BM10 = BM.groupby(['Source']).mean()
BM11 = BM.groupby(['Phylogroup']).mean()
BM12 = BM.groupby(['Outbreak']).mean()
BM13 = BM.groupby(['Source']).sum()
BM14 = BM.groupby(['Phylogroup']).sum()
BM15 = BM.groupby(['Outbreak']).sum()

BM17 = BM[["Total_BACMET"]].describe()

/tmp/ipykernel_1148566/713624542.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  BM3 = BM.groupby(['Source', 'Outbreak']).mean()
/tmp/ipykernel_1148566/713624542.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  BM4 = BM.groupby(['Source', 'Phylogroup']).mean()
/tmp/ipykernel_1148566/713624542.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  BM5 = BM.groupby(['Source', 'Outbreak']).sum()
/tmp/ipykernel_1148566/713624542.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  BM6 = BM.groupby(['Source', 'Phylogroup']).sum()
/tmp/ipykernel_1148566/713624542.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  BM10 = BM.groupby(['Source']).mean()
/tmp/ipykernel_1148566/713624542.py:7: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  BM11 = BM.groupby(['Phylogroup']).mean()
/tmp/ipykernel_1148566/713624542.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  BM12 = BM.groupby(['Outbreak']).mean()
/tmp/ipykernel_1148566/713624542.py:9: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  BM13 = BM.groupby(['Source']).sum()
/tmp/ipykernel_1148566/713624542.py:10: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  BM14 = BM.groupby(['Phylogroup']).sum()
/tmp/ipykernel_1148566/713624542.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  BM15 = BM.groupby(['Outbreak']).sum()

In [160]:
BM17

       Total_BACMET
count    245.000000
mean    3930.208163
std      249.103428
min     3596.000000
25%     3769.000000
50%     3870.000000
75%     4010.000000
max     5566.000000